<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Todos for today:</h1>
<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>URGENT</th>
        <th>ACTION</th>
        <th>DONE</th>
    </tr>
    </thead>
    <th:block th:object="${todos}">
        <tr>
            <td th:text="${todos.id}"/>
            <td>
                <span th:classappend="${todos.urgent == true} ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"/>
            </td>
            <td th:text="${todos.title}"/>
            <td>
                <span th:classappend="${todos.done == true}  ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"/>
            </td>
        </tr>
    </th:block>
</table>

</body>
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</html>